body {
  background: #eceeef;

  .container {
    min-height: 100vh;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    .profile-group {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }

  }

}

.grid-item {
  width: 300px;

}