<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='info_3_13.css')}}">
    <title>Статистика сообщества {{ data.name }}</title>
    <style>
        .row {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-start">
                <div class="col-3">
                    <img src="{{data.img_link}}" class="d-flex mr-3 profile-group">
                </div>
                <div class="col-7">
                    <h1 class="mt-0">{{ data.name }}</h1>
                    <p> {{ data.description }} </p>
                    <a href="http://vk.com/{{ data.link }}">http://vk.com/{{ data.link }}</a>
                </div>
        </div>
        <div class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href=".stats-col">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".topics-col">Актуальные темы</a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-start stats-col" >
            <div class="col-10">
                <h2 class="mt-10">Статистика</h2>
                <div class="card-group">
                    <div class="card p-3">
                        <h3 class="card-title">Среднее количество лайков</h3>
                        <canvas id="chart-likes" width="100%"></canvas>
                    </div>
                    <div class="card p-3">
                        <h3 class="card-title">Среднее количество репостов</h3>
                        <canvas id="chart-reps" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start stats-col">
            <div class="col-10">
                <div class="card-group">
                    <div class="card p-3">
                        <h3 class="card-title">Среднее количество комментариев</h3>
                            <canvas id="chart-coms" width="50%"></canvas>
                    </div>
                    <div class="card p-3">
                        <h3 class="card-title">Общая информация</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start topics-col" style="display: none;">
            <div class="col-10">
                <h2> Актуальные темы </h2>
                <!--<canvas id="word-cloud-1" width="800px"></canvas>-->
                <div class="card-columns">
                    {%for p in data.pics%}
                    <div class="card">
                        <img class="card-image-top img-fluid" src="{{p}}" width="300px">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="{{url_for('.static', filename='wordcloud2.js')}}"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>

//        window.onload = function() {
//            $('.grid').masonry({
//                itemSelector: '.grid-item',
//                columnWidth: 300
//            });
//        };

//        var grid = $('.grid').masonry({
//            itemSelector: '.grid-item',
//            columnWidth: 300
//        });
//
//        grid.imagesLoaded().progress( function() {
//            grid.masonry('layout');
//        });





        $('.nav-link').click(function(e){
           e.preventDefault();

           $('.stats-col').toArray().forEach(function (e){
               $(e).css('display','none');
           });
           $('.topics-col').css('display', 'none');
           var id = $(this).attr('href');
           console.log('>>', id);

           $(id).css('display','block');
        });

        /*$('body').css('display','none');
        $('body').fadeIn(400);*/

        var ctx = document.getElementById("chart-likes");
        var chartLikes = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Месяц', 'Неделя', 'День'],
                datasets: [{
                   label: "Лайки",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                   data: [{{data.median_likes.month}}, {{data.median_likes.week}}, {{data.median_likes.day}}]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctxReps = document.getElementById("chart-reps");
        var chartReps = new Chart(ctxReps, {
            type: 'bar',
            data: {
                labels: ['Месяц', 'Неделя', 'День'],
                datasets: [{
                   label: "Репосты",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                   data: [{{data.median_reposts.month}}, {{data.median_reposts.week}}, {{data.median_reposts.day}}]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })

        var ctxComs = document.getElementById("chart-coms");
        console.log(data.median_likes)
        var chartReps = new Chart(ctxComs, {
            type: 'bar',
            data: {
                labels: ['Месяц', 'Неделя', 'День'],
                datasets: [{
                   label: "Комментарии",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                   data: [{{data.median_comments.month}}, {{data.median_comments.week}}, {{data.median_comments.day}}]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var regex = /&#39;(\S+)&#39;/g;
        var strings = `{{data.clouds}}`.match(regex)


        console.log(strings);

        var list = [];
        for (var i = 0; i < strings.length; i++) {
            list.push([strings[i].replace(/&#39;/g, ""), Math.ceil((25 - i) / 5) * 10 ]);
        }

        console.log(list);





        WordCloud(document.getElementById('word-cloud-1'), { list: list });

        var wc = document.getElementById('word-cloud-1');
//        var h = parseInt(wc.getAttribute("height"));
//        var w = parseInt(wc.getAttribute("width"));

        var handle = wc.getContext('2d');
        handle.canvas.width = 1200;
        handle.canvas.height = 600;




    </script>
</body>
</html>